<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title> A Simple User Login System </title>
</head>
    <body>
        {{{body}}}
    </body>
    <footer> Michael Iacona 10407612 </footer>
</html>