<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Palindrome Checker</title>
    <link rel="stylesheet" href="/public/css/site.css">
</head>
<body>
    <h1>Feed Me Palindromes</h1>
<main>
    <div class="inputArea">
        <form id="palindromes">
        <label for="phrase">Enter a word or phrase:</label>
        <input type="text" name="phrase" id="phrase" autocomplete="off">
        <button type="submit"> Submit </button>
        </form>
    </div>
    <div class="Results">
        <h2>Past Checks</h2>
        <ul id="attempts"></ul>
    </div>
</main>
    <footer> Michael Iacona 10407612 </footer>
    <script src="/public/js/main.js"></script>
</body>
</html>